
@{
    ViewBag.Title = "_MostraUmaConsulta";
}

@model roles.Models.ConsultaModel


<div class="modal-content">
    <div class="modal-header justify-content-center">
        @*<button type="button" class="close" data-dismiss="modal">X</button>*@
        <div><h3>Consulta Selecionada</h3></div>

    </div>
    <div class="modal-body olar">



        @*@*model.Nome (Nome = id da textbox)*@
        @Html.HiddenFor(model => model.Id)
        @Html.LabelFor(model => model.Medico.Nome) <br />
        @Html.TextBoxFor(model => model.Medico.Nome, new { @class = "form-control", @readonly = "readonly" }) <br /><br />
        @Html.LabelFor(model => model.Medico.Especialidade) <br />
        @Html.TextBoxFor(model => model.Medico.Especialidade.Nome, new { @class = "form-control", @readonly = "readonly" }) <br /><br />
        @Html.LabelFor(model => model.Descricao) <br />
        @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @readonly = "readonly" }) <br /><br />
        @Html.LabelFor(model => model.Data) <br />
        @Html.TextBoxFor(model => model.Data, new { @class = "form-control", @readonly = "readonly" })
        <br /><br />
        <br />

    </div>


    <div class="modal-footer">

    </div>

</div>
